@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    padding-top: 28px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 43px;

}

.nav-list__link {
    color: rgb(43, 20, 20);
    font-family: 'RR';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 24px;
}

.nav-list__icon {
    background: rgb(231, 66, 106);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-category {
    display: flex;
}

.header-category__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-category__text {
    width: 450px;
    color: rgb(41, 41, 41);
    font-family:'RR';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.header-hr{
    background: black;
    height: 2px;
    width: 23px;
}

.header-category__line{
    display: flex;
    align-items: center;
    row-gap: 10px;
}